// Fonts
$font-reg: "Oswald Regular", "Arial", sans-serif;
$font-med: "Oswald Medium", "Arial", sans-serif;
$font-txt: "Arial", sans-serif;

// Buttons
$btn-color: #68b738;
$btn-txt-color: #fff;
$btn-alt-txt-color: #222222;
$btn-alt-color: #f2f2f2;
